* {
    box-sizing: border-box;
}

body {
    background-image: url(background_pics/background6.jpg);
    background-size: cover;
    font-family: sans-serif;
}


.wrapper {
    width: 85%;
    min-height: 890px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* -------- header ----------- */

.header {
    border: 1px solid black;
    padding: 5px;
    border-radius: 7px;
    background-color: #e78a7c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.scores {
    width: 450px;
    height: 100px;
    border-collapse: separate;
    border-spacing: 0px 5px;
}

.scores tr:first-child td {
    border-bottom: 1px solid black;
}

/* mark the payer whose turn it is */

.current-player td {
    background-color: rgb(61, 125, 141);
}

.current-player td:first-child {
    border-radius: 5px 0 0 5px;
}

.current-player td:last-child {
    border-radius: 0 5px 5px 0;
}




/* -------- info box ----------- */

.info-box-container {
    border: 1px solid black;
    border-radius: 7px;
    width: 450px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    background-color: #e78a7c;
}

.info-box {
    height: 40px;
    min-width: 300px;
    padding: 5px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.neon {
    animation: neon 1s ease infinite;
}

@keyframes neon {

    0%,
    100% {
        color: yellow;
    }

    50% {
        color: rgb(228, 2, 248);
    }
}

.new-game-button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
}




/* -------- playing field ----------- */

.field-container {
    min-width: 320px;
    min-height: 320px;
    border-radius: 7px;
}

.field td {
    /* border: 1px solid red; */
    width: 130px;
    height: 130px;
    border-radius: 7px;
}

.card-container {
    width: 130px;
    height: 130px;
    position: relative;
    /* margin: auto; */
    background-color: #74bd44;
    background-image: url(background_pics/ccback1.jpg);
    background-size: cover;
    border-radius: 7px;
    cursor: pointer;
    border: 2px solid black;

}

.card-container-non-clickable {
    cursor: auto;
}

.empty-card-container {
    cursor: auto;
    opacity: 0;
}

img {
    z-index: 90;
    border-radius: 7px;
    border: 2px solid black;
    width: 130px;
    height: 130px;
    position: relative;
    top: -2px;
    left: -2px;
}




/* -------- modal dialog ----------- */

.modal-window {
    width: 418px;
    height: 220px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    background-color: #e78a7c;
    border: 3px solid black;
    border-radius: 7px;
    display: none;

}

.form-container {
    min-height: 160px;
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.modal-continue-play-btn {
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    right: 5px
}

.modal-back-btn {
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    left: 5px
}

.modal-x-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.modal-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.6;
    background-color: black;
}

#modal-themes form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* hide radio button */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]+img {
    cursor: pointer;
}

[type=radio]:checked+img {
    outline: 3px solid rgb(6, 155, 182);
}

.radio-img {
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.label-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-div span {
    margin-top: 3px;
    font-size: 10px;
}



/* -------- box that stores the images for different themes ----------- */

.store-box {
    display: none;
}